@media screen and (max-width: 640px) 
{
    @import url('https://fonts.googleapis.com/css?family=Fredoka One');
 @font-face {
    font-family: 'Clash Display-Medium';
    src: url('Fonts/clashdisplay-medium-webfont.woff2') format('woff2'),
         url('Fonts/clashdisplay-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }
@font-face {
    font-family: 'Clash Display-Semibold';
    src: url('Fonts/clashdisplay-semibold-webfont.woff2') format('woff2'),
         url('Fonts/clashdisplay-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('Fonts/Satoshi-Regular.woff2') format('woff2'),
       url('Fonts/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('Fonts/Satoshi-Bold.woff2') format('woff2'),
       url('Fonts/Satoshi-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('Fonts/Satoshi-Medium.woff2') format('woff2'),
       url('Fonts/Satoshi-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Satoshi-Light';
  src: url('Fonts/Satoshi-Light.woff2') format('woff2'),
       url('Fonts/Satoshi-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .landing .div {
    overflow: hidden;
    width: 390px;
    height: 3155px;
    position: relative;
    top: -40px;
  }
  .landing .overlap {
    position: absolute;
    width: 577px;
    height: 75px;
    top: 0px;
    left: 0px;
  }
  .landing .text-wrapper {
    position: absolute;
    top: 476px;
    left: 107px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-3 {
    top: 782px;
    left: 112px;
    position: absolute;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-4 {
    top: 1912px;
    left: 80px;
    position: absolute;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .future-of-shopping {
    position: absolute;
    width: 575px;
    height: 36px;
    top: 516px;
    left: -40px;
  }
  .landing .text-wrapper-2{
    position: absolute;
    width: 351px;
    top: -5px;
    left: 60px;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .landing .group {
    position: absolute;
    width: 130px;
    height: 35px;
    top: 55px;
    left: 16px;
  }
  .landing .overlap-group {
    position: absolute;
    width: 300px;
    height: 291px;
    top: 151px;
    left: 45px;
    background-size: cover;
    background-position: 50% 50%;
  }
  .landing .text-wrapper-7 {
    top: 161px;
    left: 92px;
    transform: rotate(15.11deg);
    mix-blend-mode: overlay;
    color: #ffffff;
    font-size: 26.9px;
    position: absolute;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .we-specialize-in {
    position: absolute;
    width: 358px;
    top: 546px;
    left: 16px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #464646;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .we-specialize-in br {
      display: none;
    }
  .landing .p {
    position: absolute;
    width: 300px;
    top: 803px;
    left: 45px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #464646;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-8 {
    position: absolute;
    width: 316px;
    top: 1934px;
    left: 37px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #464646;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .frame {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 671px;
    left: 95px;
    border-radius: 6.43px;
    overflow: hidden;
    box-shadow: 0px 3.21px 3.21px #00000040;
  }
  .landing .learn-more {
    position: absolute;
    top: 10px;
    left: 52px;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16.1px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .frame-2 {
    position: absolute;
    width: 360px;
    height: 455px;
    top: 890px;
    left: 15px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1.83px 70px #0000001a;
  }
  .landing .overlap-2 {
    position: absolute;
    width: 442px;
    height: 339px;
    top: 220px;
    left: -17px;
  }
  .landing .ellipse {
    width: 191px;
    height: 192px;
    top: 121px;
    left: 226px;
    border-radius: 95.34px/96.15px;
    transform: rotate(-18.66deg);
    position: absolute;
    background-color: #ff36408c;
    opacity: 0.5;
  }
  .landing .ellipse-2 {
    width: 112px;
    height: 115px;
    top: 173px;
    left: 2px;
    border-radius: 55.82px/57.43px;
    transform: rotate(-90deg);
    position: absolute;
    background-color: #ff36408c;
    opacity: 0.5;
  }
  .landing .group-2 {
    position: absolute;
    width: 335px;
    height: 204px;
    top: 0;
    left: 31px;
  }
  .landing .div-2 {
    position: absolute;
    width: 318px;
    top: 80px;
    left: -27px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .div-21 {
    position: absolute;
    width: 318px;
    top: 42px;
    left: -32px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .span {
    color: #ffffff;
  }
  .landing .text-wrapper-7 {
    color: #000000;
  }
  .landing .text-wrapper-10 {
    color: #d4212a;
  }
  .landing .nearwala-is-not-just {
    position: absolute;
    width: 331px;
    top: 135px;
    left: -34px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .div-wrapper {
    position: absolute;
    width: 170px;
    height: 37px;
    top: 270px;
    left: 45px;
    border-radius: 5.46px;
    overflow: hidden;
    box-shadow: 0px 2.73px 2.73px #00000040;
  }
  .landing .text-wrapper-11 {
    position: absolute;
    top: 10px;
    left: 44px;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13.7px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .group-wrapper {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 23px;
    left: 92px;
    background-color: #d4212a;
    border-radius: 17.5px;
    overflow: hidden;
  }
  .landing .overlap-group-wrapper {
    position: relative;
    width: 107px;
    height: 85px;
    top: 45px;
    left: 35px;
  }
  .landing .overlap-group-2 {
    position: relative;
    width: 105px;
    height: 85px;
  }
  .landing .XMLID {
    position: absolute;
    width: 105px;
    top: 55px;
    left: -3px;
    font-family: "Fredoka One", Helvetica;
    font-weight: 100;
    color: #ffffff;
    font-size: 24.7px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .img {
    position: absolute;
    width: 103px;
    height: 56px;
    top: 0;
    left: 1px;
  }
  .landing .frame-3 {
    position: absolute;
    width: 360px;
    height: 455px;
    top: 1389px;
    left: 15px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1.83px 70px #0000001a;
  }
  .landing .ellipse-3 {
    position: absolute;
    width: 191px;
    height: 192px;
    top: 121px;
    left: 226px;
    background-color: #7fb8ff8c;
    border-radius: 95.34px/96.15px;
    transform: rotate(-18.66deg);
    opacity: 0.5;
  }
  .landing .ellipse-4 {
    position: absolute;
    width: 112px;
    height: 115px;
    top: 173px;
    left: 2px;
    background-color: #add1ff8c;
    border-radius: 55.81px/57.44px;
    transform: rotate(-90deg);
    opacity: 0.5;
  }
  .landing .frame-4 {
    position: absolute;
    width: 170px;
    height: 37px;
    top: 232px;
    left: 40px;
    border-radius: 5.46px;
    overflow: hidden;
    box-shadow: 0px 2.73px 2.73px #00000040;
  }
  .landing .text-wrapper-12 {
    color: #032d61;
  }
  .landing .frame-5 {
    position: absolute;
    width: 175px;
    height: 175px;
    top: 23px;
    left: 92px;
    background-color: #123969;
    border-radius: 17.5px;
    overflow: hidden;
  }
  .landing .group-3 {
    position: relative;
    width: 109px;
    height: 101px;
    top: 37px;
    left: 35px;
  }
  .landing .text-wrapper-13 {
    position: absolute;
    width: 331px;
    top: 98px;
    left: -39px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .overlap-group-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 105px;
    height: 85px;
  }
  .landing .tran {
    position: absolute;
    width: 147px;
    height: 94px;
    top: 9px;
    left: 11px;
  }
  .landing .users {
    position: absolute;
    width: 147px;
    height: 102px;
    top: 0;
    left: 12px;
  }
  .landing .partner {
    position: absolute;
    width: 147px;
    height: 101px;
    top: 0;
    left: 12px;
  }
  .landing .frame-6 {
    position: absolute;
    width: 170px;
    height: 220px;
    top: 2023px;
    left: 16px;
    background-color: #ffffff;
    border-radius: 12.59px;
    overflow: hidden;
    box-shadow: 0px 0.77px 18.42px #00000026;
  }
  .landing .overlap-2 {
    position: absolute;
    width: 135px;
    height: 78px;
    top: 118px;
    left: 18px;
  }
  .landing .text-wrapper-14 {
    position: absolute;
    width: 82px;
    top: 88px;
    left: 12px;
    font-family: "Satoshi-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 9.3px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  .landing .text-wrapper-15 {
    position: absolute;
    top: 118px;
    left: 30px;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 42px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .group-4 {
    position: relative;
    width: 107px;
    height: 85px;
    top: 40px;
    left: 35px;
  }
  .landing .frame-7 {
    position: absolute;
    width: 170px;
    height: 220px;
    top: 2023px;
    left: 204px;
    background-color: #ffffff;
    border-radius: 12.56px;
    overflow: hidden;
    box-shadow: 0px 0.77px 18.37px #00000026;
  }
  .landing .overlap-3 {
    position: absolute;
    width: 134px;
    height: 78px;
    top: 118px;
    left: 18px;
  }
  .landing .text-wrapper-16 {
    top: 165px;
    left: 18px;
    position: absolute;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-17 {
    position: absolute;
    top: 118px;
    left: 18px;
    font-family: "Clash Display-Semibold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 42px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .group-5 {
    position: absolute;
    width: 366px;
    height: 604px;
    top: 2562px;
    left: 20px;
  }
  .landing .frame-8 {
    position: absolute;
    width: 170px;
    height: 220px;
    top: 2261px;
    left: 110px;
    background-color: #ffffff;
    border-radius: 12.59px;
    overflow: hidden;
    box-shadow: 0px 0.77px 18.42px #00000026;
  }
  .landing .overlap-4 {
    position: absolute;
    width: 148px;
    height: 78px;
    top: 118px;
    left: 11px;
  }
  .landing .text-wrapper-18 {
    top: 165px;
    left: 55px;
    position: absolute;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .group-7 {
    left: 213px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .line {
    position: absolute;
    width: 350px;
    height: 1px;
    top: -1px;
    left: 0;
    z-index: 10;
  }
  .landing .text-wrapper-19 {
    top: 165px;
    left: 12px;
    width: 148px;
    position: absolute;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20.9px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-20 {
    position: absolute;
    width: 99px;
    top: 46px;
    left: 125px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .text-wrapper-21 {
    width: 62px;
    top: 89px;
    left: 144px;
    color: #d4212a;
    position: absolute;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .landing .text-wrapper-22 {
    position: absolute;
    width: 61px;
    top: 220px;
    left: 144px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .landing .text-wrapper-23 {
    width: 100px;
    top: 120px;
    left: 125px;
    color: #123969;
    position: absolute;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .landing .text-wrapper-24 {
    position: absolute;
    width: 53px;
    top: 251px;
    left: 138px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .landing .text-wrapper-25 {
    position: absolute;
    width: 120px;
    top: 176px;
    left: 115px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .group-6 {
    position: absolute;
    width: 200px;
    height: 54px;
    top: 460px;
    left: 75px;
  }
  .landing .vector-2 {
    left: 181px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .vector-3 {
    left: 148px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .vector-4 {
    left: 115px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .group-8 {
    left: 181px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .group-9 {
    left: 148px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .group-10 {
    left: 115px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 352px;
  }
  .landing .text-wrapper-26 {
    position: absolute;
    width: 100px;
    top: 307px;
    left: 125px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 21.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  .landing .frame-9 {
    position: absolute;
    width: 92px;
    height: 105px;
    top: 22px;
    left: 298px;
  }
  .landing .text-wrapper-27 {
  position: absolute;
  width: 180px;
  top: 568px;
  left: 87px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10.9px;
  letter-spacing: 0;
  line-height: normal;
  }
  .landing .frame-99 {
    display: block;
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 11.25px;
    overflow: hidden;
    top: 50px;
    left: 339px;
    border: none;
    z-index: 10;
   }
   .landing .group-99 {
    position: absolute;
    width: 25px;
    height: 13px;
    top: 15px;
    left: 7px;
   }
   .landing .frame-100 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    width: 152px;
    height: 140px;
    top: 50px;
    left: 223px;
    box-shadow: 0px 0.27px 10.42px #00000026;
    border-radius: 10px;
    z-index: 9;
   }
   .landing .div-7 {
    background-color: #ffffff;
    position: relative;
   }
   .landing .text-wrapper-88 {
    position: absolute;
    top: 46px;
    left: 42px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #7f0101;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
   }
   .landing .text-wrapper-89 {
    position: absolute;
    top: 94px;
    left: 35px;
    font-family: "Clash Display-Medium", Helvetica;
    font-weight: 500;
    color: #7f0101;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
   }
}



@media screen and (min-width: 376px) and (max-width: 413px)
{
  .landing .div {
   left: -13px;
  }
  .landing .learn-more {
    top: 13px;
  }
}